:root {
  --border-color: #291D4D;
  --dialog-background: #FFF3B4;

  --menu-background: #FFE8D2;
  --menu-border-color: #A48465;
  --menu-font-color: #3A160D;
  --menu-selected-background: #7fc2ff;
}

body{
  background-color: pink;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.game-container{
  margin: 0 auto;
  margin-top:20px;
  position: relative;
  width: 960px;
  height:640px;
  outline: 4px solid navy;
  display: grid;
  grid-template-columns: repeat(30, 32px);
  grid-template-rows: repeat(20, 32px);
}

.tile {
   border-top: 2px solid navy;
   border-left: 2px solid navy;
 }

.game-container canvas {
    image-rendering: pixelated;
}