.TextMessage {
  position: absolute;
  left: 200px;
  right:200px;
  bottom: 200px;
  height: 300px;
  padding: 10px;
  background: var(--menu-background);
  border: 3px solid var(--menu-border-color);
  color: var(--menu-font-color);
}
.TextMessage_p {
  margin: 0;
  font-size: 28px;
  word-wrap: break-word;
}

.TextMessage span {
    opacity: 0;
}

.TextMessage span.revealed {
    opacity:1;
}

.TextMessage_button {
  margin: 0;
  font-size: 25px;  
  padding: 10px;;
  -webkit-appearance: none;
  background:none;
  border:0;
  font-family: inherit;
  cursor: pointer;

  position: absolute;
  right: 10px;
  bottom: 0;
}